
<style>
    .menu-link img {
  width: 24px; /* Set the width of the image */
  height: 24px; /* Set the height of the image */
  margin-right: 10px; /* Add some margin to the right of the image for spacing */
  vertical-align: middle; /* Align the image vertically with the text */
}

</style>
<div class="screen-overlay"></div>
<aside class="navbar-aside" id="offcanvas_aside">
   <div class="aside-top">
    <a href="index.html" class="brand-wrap">
        <img src="/users/img/icon.png" class="logo" alt="Vidyalekshmi">
    </a>
    <div>
        <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
    </div>
</div>
<nav>
    <ul class="menu-aside">
        <li class="menu-item active">
            <a class="menu-link" href="/admin/dashboard"> <i class="icon material-icons md-home"></i>
                <span class="text">Dashboard</span>
            </a>
        </li>

        
      


        <li class="menu-item">
            <a class="menu-link" href="/college/courses"> <i class="icon material-icons md-shopping_bag"></i>
                <span class="text">ACADEMICS</span>
            </a>
        </li>
    
        


      

        


        <li class="menu-item has-submenu">
            <a class="menu-link" href="/college/admissions"> <i class="icon material-icons md-monetization_on"></i>
                <span class="text">ADMISSIONS</span>
            </a>
        </li>
       
        <li class="menu-item">
            <a class="menu-link" href="/college/courses"> <i class="icon material-icons md-comment"></i>
                <span class="text">GALLERY</span>
            </a>
        </li>

        

        <li class="menu-item">
            <a class="menu-link" href="/admin/services"> <i class="icon material-icons md-comment"></i>
                <span class="text">OVERVIEW</span>
            </a>
        </li>



        <li class="menu-item">
            <a class="menu-link" href="/admin/services"> <i class="icon material-icons md-comment"></i>
                <span class="text">FACULTY</span>
            </a>
        </li>



        <li class="menu-item">
            <a class="menu-link" href="/admin/services"> <i class="icon material-icons md-comment"></i>
                <span class="text">FACILITIES</span>
            </a>
        </li>



        <li class="menu-item">
            <a class="menu-link" href="/admin/services"> <i class="icon material-icons md-comment"></i>
                <span class="text">RECRUTIERS</span>
            </a>
        </li>


        
        <li class="menu-item">
            <a class="menu-link" href="/admin/services"> <i class="icon material-icons md-comment"></i>
                <span class="text">ABOUT US</span>
            </a>
        </li>



        <li class="menu-item">
            <a class="menu-link" href="page-reviews.html"> <i class="icon material-icons md-comment"></i>
                <span class="text">BROCHURE</span>
            </a>
        </li>



       


       
    </ul>
    <hr>
    <ul class="menu-aside">
        <li class="menu-item has-submenu">
            <a class="menu-link" href="page-settings-1.html"> <i class="icon material-icons md-settings"></i>
                <span class="text">Settings</span>
            </a>
        </li>
        
    </ul>
    <br>
    <br>
</nav>
</aside>
