<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Navbar</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    
    .navbar-box {
      background-color: rgba(255, 255, 255, 0.137);
      padding: 10px;
      border-radius: 40px;
      border: 1px solid rgb(4, 3, 3);
      z-index: 999;
margin-top: 20px;
height: 90px;
width: 650px;
    }

    .navbar {
      backdrop-filter: blur(5px);
      background-color: transparent;
    }
  
    .navbar-nav .nav-link img {
  height: 40px;
  transition: transform 0.3s ease;
  margin-right: 8px;
}

.navbar-nav .nav-link img:hover {
  transform: scale(1.5); 
}
  
.navbar-nav .nav-link {
  position: relative; 
}

.navbar-nav .nav-link .tooltip {
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* Show tooltip on hover */
.navbar-nav .nav-link:hover .tooltip {
  opacity: 1;
}

  </style>
</head>
<body>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="navbar-box">
        <nav class="navbar navbar-expand-lg navbar-light">
          <a class="navbar-brand" href="#">Your Logo</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/">
                  <img src="/user/img/courses.png" alt="programmes" />
                  <span class="tooltip">Courses</span>
                </a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/">
                  <img src="/user/img/colleges.png" alt="Collages" />
                  <span class="tooltip">Colleges</span>
                </a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/">
                  <img src="/user/img/home.png" alt="Home" />
                  <span class="tooltip">Home</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <img src="/user/img/notification.png" alt="notification" />
                  <span class="tooltip">Notifications</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <img src="/user/img/profile.png" alt="profile" />
                  <span class="tooltip">Profile</span>
                </a>
              </li>
            </ul>
          </div>
          
        </nav>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
