<!-- <link href="https://fonts.googleapis.com/css2?family=Your+Selected+Font&display=swap" rel="stylesheet"> -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<script type="module" src="/user/js/google.js"></script>
<style>
  body {
    font-family: 'Open Sans', sans-serif
  }

  .google {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .google a {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px 100px;
    font-size: 16px;
    color: #000;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .google a img {
    margin-right: 10px;
  }

  .google a:hover {
    background-color: #eee;
  }
  
  
  
</style>



<section class="vh-100" style="background-color: #c1e3e6">
  <div class="container h-100">
    
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px; background: linear-gradient(to bottom, #73bcc274, #006D77);">
          <div class="card-body p-md-5">
            
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
 
                
                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4" style="color: #ffffff;">LOGIN</p>

                <form class="mx-1 mx-md-4" action="/login" method="post">

                  <div class="row form-group mb-4">
                    <div class="col">

                      <% if (userCheck && userCheck.trim() !== "") { %>
                        <div class="alert alert-danger" role="alert" style="background-color: #207981; color: #006D77;">
                            <%= userCheck %>
                        </div>
                    <% } %>

                     
                    </div>
                    </div>

                    <div class="row form-group mb-4">
                      <div class="col">
                        <input type="text" class="form-control w-5" id="identifier" name="identifier" placeholder="Email or Mobile Number" required>
                      </div>
                      </div>



                    <div class="row form-group mb-4">
                      <div class="col">
                        <input type="password" class="form-control w-5" id="password" name="password" placeholder="Password" required >
                      </div>
                    </div>
                    
                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                      <button type="submit" class="btn btn-primary btn-lg" style="
                        background-color: #73bcc274;  color: #fff;
                        border: 1px solid #006D77;  border-radius: 10px;  font-weight: bold;  ">
                        <span>LOGIN</span>
                        <i class="icon-long-arrow-right"></i>
                      </button>
                    </div>

                    <!-- <div class="mb-3 social-btn-contain">
                      <div class="social-btn">
                        <button class="btn btn-outline-primary" id="google-sign-up"><img src="/user/img/googleIcon.png" alt=""> Sign Up with Google</button>
                      </div>
                    </div>  -->

                    <div class="google">
                        <a class="btn btn-outline-dark" id="google-sign-up" href="" role="button" style="text-transform:none" >
                          <img width="20px" style=" margin-right:5px ;" alt="Google sign-in" src="/user/img/googleIcon.png" />
                          Login with Google
                        </a>
                    </div>
                    
                </form>

              </div>
              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
               
               
        
                <video width="500" height="350" controls autoplay muted style="max-width: 100%; max-height: 100%;">
                  <source src="/users/img/VIBEWAVE.mp4" type="video/mp4">
                  Your browser does not support the video tag.
                </video>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" 
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" 
        crossorigin="anonymous"></script>

<%- include('../partials/footer') %>