<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Department</title>
  <link rel="stylesheet" href="/path/to/your/css/style.css">
</head>
<body>
  <h1>Add Academics / Group</h1>
  <form action="/admin/department/add" method="POST" enctype="multipart/form-data">
    <div>
      <label for="name">Group Name:</label>
      <input type="text" id="name" name="name" required>
    </div>
    
    <div>
      <label for="image"  class="form-label">IMAGE</label>
      <input type="file" class="form-control" id="image" name="image">
    </div>
    
    <button type="submit">Add Group</button>
  </form>
</body>
</html>


